.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.mBt {
  margin-bottom: 10px;
  font-weight: bold;
}
.t-option {
  margin-left: 5px;
  padding: 4PX;
}
.btn-add {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF4500; /* Màu nền */
  color: white;
  text-align: center;
  border-radius: 5px; /* Góc bo tròn */
  cursor: pointer; /* Thay đổi con trỏ thành biểu tượng nút */
  user-select: none; /* Ngăn việc chọn text */
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
 width: 100%;
}

.btn-add:hover {
  background-color: #FF6347; /* Màu nền khi hover */
}

.btn-add:active {
  background-color: #E03E00; /* Màu nền khi nhấn */
  transform: scale(0.98); /* Hiệu ứng khi nhấn nút */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
